body {
    background-color: rgb(218, 230, 195);
    width: 97%;
    margin: auto;
}

header {
    background-color: rgb(235, 214, 174);
    height: 200px;
    padding: 15px 15px 30px;
    margin: 2rem 2rem 3rem;
    text-align: center;
}

h1 {
    color: rgb(23, 76, 161);
    text-align: center;
    font-size: 32px;
    margin-bottom: 5%;
}

#homepage-header {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 16px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-right: 5%; */
    color: rgb(112, 15, 109);
    font-size: 20px;
}

.nav-menu li {
    padding: 10px 20px;
    margin-right: 12%;
}

.grid {
   display: grid;
   grid-template-columns: 2fr 1fr;
   /* grid-template-rows: 1fr; */
   column-gap: 30px;
}

footer {
    text-align: center;
    background-color: rgb(235, 214, 174);
    padding: 1px 0;
    margin-top: 150px;
    margin-bottom: 20px;
}

.secondpage-footer {
    margin-top: 130px;
}

.course-list {
    display: flex;
    flex-direction: column;
    /* flex-basis: 250px; */
}

.course div {
    margin: 10px 0;
}

.course-border {
    border-top: 2px grey solid;
}

.homepage-image {
    width: 450px;
    height: auto;
}


/*-----responsive------------*/

@media (min-width: 600px) {

    body {
        width: 90%;
        margin: auto;
    }

    header {
        height: 150px;
    }

    h1 {
        color: rgb(23, 76, 161);
        text-align: center;
        font-size: 34px;
        margin-bottom: 5%;
        margin-right: 3%;
    }

    p {
        font-size: 17px;
    }

    .nav-menu {
        flex-direction: row;
        margin-right: 3%;
        font-size: 18px;
     }

     .nav-menu li {
        margin-right: 6%;
    }

    .course {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .course-date {
        margin-top: 50px;
    }
    
}